<div class="galeria">
    <div><img src="assets/img/1.jpg" tittle="funky roots"></div>
    <div><img src="assets/img/9.jpg" tittle="funky roots 3"></div>
    <div><img src="assets/img/10.jpg" tittle="funky roots 4"></div>
</div>
