<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, consequuntur magnam ratione modi velit fugiat saepe iste, illum cumque mollitia aspernatur, explicabo porro eos corporis praesentium ipsum reprehenderit quisquam voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, consequuntur magnam ratione modi velit fugiat saepe iste, illum cumque mollitia aspernatur, explicabo porro eos corporis praesentium ipsum reprehenderit quisquam voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, consequuntur magnam ratione modi velit fugiat saepe iste, illum cumque mollitia aspernatur, explicabo porro eos corporis praesentium ipsum reprehenderit quisquam voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, consequuntur magnam ratione modi velit fugiat saepe iste, illum cumque mollitia aspernatur, explicabo porro eos corporis praesentium ipsum reprehenderit quisquam voluptas? 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, consequuntur magnam ratione modi velit fugiat saepe iste, illum cumque mollitia aspernatur, explicabo porro eos corporis praesentium ipsum reprehenderit quisquam voluptas?
    </p>
</article>